In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
train_data = pd.read_csv("/content/gdrive/MyDrive/train.csv")
train_data.head()

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score
0,0x21e3,Apartment,106,NaN,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86,71.98
1,0x68d4,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55,71.20
2,0x7d81,Apartment,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81,71.39
3,0x7a57,Apartment,900,3.0,2,Unfurnished,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,100.0,1.34,31.46
4,0x9409,Bungalow,2238,14.0,6,Fully Furnished,0.0,No,All time,5.46,Well below average,Medium,116.0,4.77,93.70

In [ ]:
train_data.head(20)
y_train = train_data.iloc[:,-1]#selecting specific row
y_train
y_train.isnull().any()#checking for null values
y_train.isnull().sum()
(y_train < 0).any()#checking for -ve values
X_train = train_data[['Property_Type', 'Property_Area', 'Number_of_Windows', 'Number_of_Doors', 'Furnishing', 'Frequency_of_Powercuts', 'Power_Backup','Water_Supply', 'Traffic_Density_Score', 'Crime_Rate', 'Dust_and_Noise', 'Air_Quality_Index', 'Neighborhood_Review']]#features selection for training
X_train.head()

,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,Apartment,106,NaN,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86
1,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55
2,Apartment,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81
3,Apartment,900,3.0,2,Unfurnished,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,100.0,1.34
4,Bungalow,2238,14.0,6,Fully Furnished,0.0,No,All time,5.46,Well below average,Medium,116.0,4.77

In [ ]:
X_train.keys()
X_train.isnull().any()

Property_Type             False
Property_Area             False
Number_of_Windows          True
Number_of_Doors           False
Furnishing                 True
Frequency_of_Powercuts     True
Power_Backup              False
Water_Supply              False
Traffic_Density_Score     False
Crime_Rate                 True
Dust_and_Noise             True
Air_Quality_Index         False
Neighborhood_Review       False
dtype: bool

Now we will be using Imputer to Replace missing values using a descriptive statistic (e.g. mean, median, or most frequent) along each column, or using a constant value.

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer_windows = SimpleImputer(strategy='most_frequent')
X_train['Number_of_Windows'] = imputer_windows.fit_transform(X_train[['Number_of_Windows']])
#X_train.head()
#X_train.isnull().any()
#X_train['Furnishing'].value_counts()

<ipython-input-11-01cde5f73b18>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Number_of_Windows'] = imputer_windows.fit_transform(X_train[['Number_of_Windows']])

In [ ]:
X_train['Furnishing'].value_counts()

Semi_Furnished     20357
Unfurnished        10344
Fully Furnished     7756
Name: Furnishing, dtype: int64

In [ ]:
#X_train['Furnishing'].value_counts()
#X_train.isnull().any()
#X_train['Frequency_of_Powercuts'].value_counts()
#X_train['Frequency_of_Powercuts'].value_counts()
#X_train.isnull().any()
X_train['Crime_Rate'].value_counts()

Well below average        19472
Slightly below average    11580
Slightly above average     5303
Well above average         2357
Name: Crime_Rate, dtype: int64

In [ ]:
X_train['Dust_and_Noise'].value_counts()

Medium    32996
High       3212
Low        2072
Name: Dust_and_Noise, dtype: int64

In [ ]:
#X_train['Crime_Rate'].value_counts()
#X_train.isnull().any()
#X_train['Dust_and_Noise'].value_counts()
#X_train['Dust_and_Noise'].value_counts()
#X_train.isnull().any()
X_train.head()

,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,Apartment,106,4.0,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86
1,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55
2,Apartment,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81
3,Apartment,900,3.0,2,Unfurnished,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,100.0,1.34
4,Bungalow,2238,14.0,6,Fully Furnished,0.0,No,All time,5.46,Well below average,Medium,116.0,4.77

In [ ]:
y_train.isnull().any()

False

In [ ]:
#y_train.isnull().any()
from sklearn.preprocessing import LabelEncoder
le_property = LabelEncoder()#to convert labels into numerical form
X_train['Property_Type'] = le_property.fit_transform(X_train['Property_Type'])#fit()is used to calculate mean and std dev and tranform() is used for scaling the mean and std dev
#X_train.head()
#X_train['Property_Type'].value_counts()
#X_train['Furnishing'].value_counts()
le_furnish = LabelEncoder()

<ipython-input-17-4f9af4158005>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Property_Type'] = le_property.fit_transform(X_train['Property_Type'])#fit()is used to calculate mean and std dev and tranform() is used for scaling the mean and std dev

In [ ]:
X_train['Property_Type'].value_counts()

1    14596
5    11477
4     5806
2     4238
3     2872
0      510
Name: Property_Type, dtype: int64

In [ ]:
X_train['Furnishing'].value_counts()

Semi_Furnished     20357
Unfurnished        10344
Fully Furnished     7756
Name: Furnishing, dtype: int64

In [ ]:
X_train['Furnishing'] = le_furnish.fit_transform(X_train['Furnishing'])
print("0: ",str(le_furnish.classes_[0]))
print("1: ",str(le_furnish.classes_[1]))
print("2: ",str(le_furnish.classes_[2]))

0:  Fully Furnished
1:  Semi_Furnished
2:  Unfurnished

<ipython-input-20-8ee5380f8229>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Furnishing'] = le_furnish.fit_transform(X_train['Furnishing'])

In [ ]:
X_train['Power_Backup'].value_counts()

No               29714
Yes               8957
NOT MENTIONED      828
Name: Power_Backup, dtype: int64

In [ ]:
#X_train['Power_Backup'].value_counts()
le_power = LabelEncoder()
X_train['Power_Backup'] = le_power.fit_transform(X_train['Power_Backup'])
print("0: ",str(le_power.classes_[0]))
print("1: ",str(le_power.classes_[1]))
print("2: ",str(le_power.classes_[2]))

0:  NOT MENTIONED
1:  No
2:  Yes

<ipython-input-22-d4ac7f97b83b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Power_Backup'] = le_power.fit_transform(X_train['Power_Backup'])

In [ ]:
X_train['Water_Supply'].value_counts()

All time                   19511
Once in a day - Morning     9897
Once in a day - Evening     7815
Once in two days            1931
NOT MENTIONED                345
Name: Water_Supply, dtype: int64

In [ ]:
#X_train['Water_Supply'].value_counts()
le_water = LabelEncoder()
X_train['Water_Supply'] = le_water.fit_transform(X_train['Water_Supply'])
print("0: ",str(le_water.classes_[0]))
print("1: ",str(le_water.classes_[1]))
print("2: ",str(le_water.classes_[2]))
print("3: ",str(le_water.classes_[3]))
print("4: ",str(le_water.classes_[4]))

0:  All time
1:  NOT MENTIONED
2:  Once in a day - Evening
3:  Once in a day - Morning
4:  Once in two days

<ipython-input-24-932a5b6f23ca>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Water_Supply'] = le_water.fit_transform(X_train['Water_Supply'])

In [ ]:
X_train['Crime_Rate'].value_counts()

Well below average        19472
Slightly below average    11580
Slightly above average     5303
Well above average         2357
Name: Crime_Rate, dtype: int64

In [ ]:
#X_train['Crime_Rate'].value_counts()
le_crime = LabelEncoder()
X_train['Crime_Rate'] = le_crime.fit_transform(X_train['Crime_Rate'])
print("0: ",str(le_crime.classes_[0]))
print("1: ",str(le_crime.classes_[1]))
print("2: ",str(le_crime.classes_[2]))
print("3: ",str(le_crime.classes_[3]))

0:  Slightly above average
1:  Slightly below average
2:  Well above average
3:  Well below average

<ipython-input-26-b83977546a20>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Crime_Rate'] = le_crime.fit_transform(X_train['Crime_Rate'])

In [ ]:
X_train['Dust_and_Noise'].value_counts()

Medium    32996
High       3212
Low        2072
Name: Dust_and_Noise, dtype: int64

In [ ]:
#X_train['Dust_and_Noise'].value_counts()
le_dust = LabelEncoder()
X_train['Dust_and_Noise'] = le_dust.fit_transform(X_train['Dust_and_Noise'])
print("0: ",str(le_dust.classes_[0]))
print("1: ",str(le_dust.classes_[1]))
print("2: ",str(le_dust.classes_[2]))

<ipython-input-28-469c4e243185>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Dust_and_Noise'] = le_dust.fit_transform(X_train['Dust_and_Noise'])

0:  High
1:  Low
2:  Medium

In [ ]:
X_train.head(40)

,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,1,106,4.0,1,1,0.0,1,3,5.89,1,2,90.0,3.86
1,1,733,2.0,2,2,1.0,1,2,4.37,3,2,96.0,3.55
2,1,737,4.0,2,0,0.0,1,3,7.45,1,2,121.0,3.81
3,1,900,3.0,2,2,2.0,2,3,6.16,2,2,100.0,1.34
4,2,2238,14.0,6,0,0.0,1,0,5.46,3,2,116.0,4.77
5,5,1185,3.0,3,2,0.0,1,3,5.69,3,2,91.0,4.49
6,5,1779,3.0,3,1,0.0,1,2,7.43,4,2,100.0,2.90
7,4,1281,5.0,2,1,3.0,1,0,7.72,2,2,143.0,0.96
8,1,268,1.0,3,1,1.0,1,0,6.13,3,3,94.0,4.17
9,1,159,2.0,2,1,0.0,2,3,6.77,3,2,90.0,4.48
10,1,521,1.0,2,1,0.0,1,0,4.14,3,2,89.0,4.82
11,2,2164,13.0,4,1,1.0,1,2,6.09,3,2,105.0,3.53
12,5,1620,3.0,4,1,0.0,1,0,6.08,3,2,143.0,4.74
13,5,1359,4.0,1,1,0.0,1,3,6.96,3,2,84.0,4.49
14,1,416,3.0,1,2,0.0,2,2,6.99,3,2,117.0,4.14
15,1,795,1.0,1,0,0.0,1,1,6.92,3,2,169.0,4.07
16,1,508,2.0,1,2,0.0,1,0,6.41,1,2,131.0,4.12
17,4,436,5.0,1,0,0.0,1,3,6.70,2,2,102.0,2.59
18,5,1735,5.0,3,2,0.0,2,2,6.47,0,2,164.0,2.82
19,1,497,4.0,3,0,2.0,1,4,5.74,1,2,103.0,1.96
20,5,1553,2.0,2,1,0.0,1,0,4.33,4,2,83.0,4.19
21,1,781,4.0,2,0,0.0,1,0,6.51,3,2,101.0,4.79
22,4,941,5.0,3,2,0.0,1,3,5.19,3,2,100.0,4.48
23,1,441,2.0,1,0,0.0,1,0,6.74,3,2,112.0,4.77
24,2,4161,6.0,3,1,0.0,0,0,7.83,3,2,156.0,4.71
25,5,1150,2.0,2,1,0.0,1,4,7.01,1,0,97.0,3.16
26,1,770,1.0,2,2,1.0,1,0,4.22,0,2,103.0,2.91
27,0,990,7.0,3,1,0.0,1,0,3.60,3,1,27.0,4.96
28,2,1809,9.0,5,2,0.0,1,0,8.31,3,0,133.0,4.67
29,2,2008,4.0,5,2,2.0,1,0,8.42,0,0,190.0,2.09
30,2,3799,9.0,4,1,3.0,1,4,4.30,1,2,84.0,1.37
31,1,910,2.0,2,1,0.0,2,3,7.45,3,2,156.0,4.40
32,5,1476,5.0,2,2,1.0,1,0,7.05,3,2,140.0,4.11
33,4,11813,5.0,3,1,0.0,1,2,7.29,3,3,127.0,4.12
34,1,886,2.0,2,1,1.0,1,0,7.27,3,2,112.0,4.14
35,1,358,3.0,3,0,0.0,1,4,7.56,3,2,148.0,3.78
36,5,1143,2.0,1,1,NaN,1,3,7.09,3,2,133.0,3.80
37,1,404,1.0,1,1,1.0,1,1,6.29,3,2,93.0,4.17
38,2,2912,15.0,2,1,0.0,1,2,6.33,2,2,133.0,2.24
39,1,190,3.0,1,1,1.0,1,3,7.83,3,2,132.0,3.80

In [ ]:
X_train.isnull().any()

Property_Type             False
Property_Area             False
Number_of_Windows         False
Number_of_Doors           False
Furnishing                False
Frequency_of_Powercuts     True
Power_Backup              False
Water_Supply              False
Traffic_Density_Score     False
Crime_Rate                False
Dust_and_Noise            False
Air_Quality_Index         False
Neighborhood_Review       False
dtype: bool

In [ ]:
X_train.isnull().sum()

Property_Type                0
Property_Area                0
Number_of_Windows            0
Number_of_Doors              0
Furnishing                   0
Frequency_of_Powercuts    1383
Power_Backup                 0
Water_Supply                 0
Traffic_Density_Score        0
Crime_Rate                   0
Dust_and_Noise               0
Air_Quality_Index            0
Neighborhood_Review          0
dtype: int64

In [ ]:
X_train

,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,1,106,4.0,1,1,0.0,1,3,5.89,1,2,90.0,3.86
1,1,733,2.0,2,2,1.0,1,2,4.37,3,2,96.0,3.55
2,1,737,4.0,2,0,0.0,1,3,7.45,1,2,121.0,3.81
3,1,900,3.0,2,2,2.0,2,3,6.16,2,2,100.0,1.34
4,2,2238,14.0,6,0,0.0,1,0,5.46,3,2,116.0,4.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39494,5,1120,3.0,2,3,0.0,1,0,5.55,0,2,80.0,3.56
39495,1,445,1.0,3,0,1.0,1,0,5.70,0,2,86.0,2.93
39496,2,3780,6.0,6,2,0.0,2,4,6.84,3,2,137.0,3.80
39497,5,1266,3.0,1,1,0.0,1,3,4.60,0,3,88.0,3.25
39498,5,1229,2.0,4,0,0.0,1,0,8.29,3,0,132.0,4.67

In [ ]:
from sklearn.linear_model import LinearRegression
model_linear = LinearRegression()
model_linear.fit(X_train, y_train)

In [ ]:
model_linear.score(X_train, y_train) * 100
test_data = pd.read_csv('/content/gdrive/MyDrive/Mini Project/test.csv')
test_data.head()

In [ ]:
X_test = test_data[['Property_Type', 'Property_Area', 'Number_of_Windows', 'Number_of_Doors', 'Furnishing', 'Frequency_of_Powercuts', 'Power_Backup','Water_Supply', 'Traffic_Density_Score', 'Crime_Rate', 'Dust_and_Noise', 'Air_Quality_Index', 'Neighborhood_Review']]

In [ ]:
from sklearn_pandas import CategoricalImputer

In [ ]:
#X_test.head()
#X_test.isnull().any()
test_imputer_windows = SimpleImputer( strategy='most_frequent')
X_test['Number_of_Windows'] = test_imputer_windows.fit_transform(X_test[['Number_of_Windows']])
#X_test.isnull().any()
test_cimputer_furnish = CategoricalImputer()
#X_test['Furnishing'].value_counts()
X_test['Furnishing'] = test_cimputer_furnish.fit_transform(X_test['Furnishing'])
#X_test.isnull().any()

In [ ]:
#X_test['Frequency_of_Powercuts'].value_counts()
test_cimputer_powercut = CategoricalImputer()
X_test['Frequency_of_Powercuts'] = test_cimputer_powercut.fit_transform(X_test['Frequency_of_Powercuts'])
#X_test.isnull().any()
#X_test['Crime_Rate'].value_counts()
test_cimputer_crime = CategoricalImputer()
X_test['Crime_Rate'] = test_cimputer_crime.fit_transform(X_test['Crime_Rate'])
#X_test['Dust_and_Noise'].value_counts()
test_cimputer_dust = CategoricalImputer()
X_test['Dust_and_Noise'] = test_cimputer_dust.fit_transform(X_test['Dust_and_Noise'])
#X_test.isnull().any()
#X_test.head()
test_le_property_type = LabelEncoder()

In [ ]:
X_test['Property_Type'] = test_le_property_type.fit_transform(X_test['Property_Type'])
#X_test.head()
test_le_furnish = LabelEncoder()
X_test['Furnishing'] = test_le_furnish.fit_transform(X_test['Furnishing'])
test_le_power = LabelEncoder()
X_test['Power_Backup'] = test_le_power.fit_transform(X_test['Power_Backup'])
#X_test.head()
test_le_water = LabelEncoder()

In [ ]:
X_test['Water_Supply'] = test_le_water.fit_transform(X_test['Water_Supply'])
#X_test.head()
test_le_crime = LabelEncoder()
X_test['Crime_Rate'] = test_le_crime.fit_transform(X_test['Crime_Rate'])

In [ ]:
#X_test.head()
test_le_dust = LabelEncoder()
X_test['Dust_and_Noise'] = test_le_dust.fit_transform(X_test['Dust_and_Noise'])

In [ ]:
X_test.head(1)

In [ ]:

#X_test.head()
#X_test.isnull().any()
#X_test.isnull().sum()
prediction = model_linear.predict(X_test)
prediction

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(n_estimators=250)
model_f=rfr.fit(X_train, y_train)
prediction_rfr = rfr.predict(X_test)
rfr.score(X_train, y_train) * 100
result_rfr = pd.DataFrame([test_data['Property_Type'],test_data['Property_ID'], prediction_rfr], index=['Property_Type','Property_ID', 'Habitability_score']).T
result_rfr.to_csv('C://Users/Admin/Documents/get_a_room_rfr_250.csv', index=False)
result_rfr.head(100)

In [ ]:
model=rfr

# Front-End

# Data Visualization

In [ ]:
train_data['Habitability_score'].describe()

Put Property Type above in Data Exploration process

In [ ]:
def count_plot(df,col,rot=None,switchax=None,size=(8,6),title=''):
  _=plt.figure(figsize=size)
  if switchax:
     _=sns.countplot(y=df[col],order=df[col].value_counts().index);
     _=plt.title(title,fontsize=25)
     _=plt.ylabel(col,fontsize=20)
     _=plt.yticks(fontsize=14,rotation=rot)

  else:
     _=sns.countplot(x=df[col],order=df[col].value_counts().index);
     _=plt.title(title,fontsize=25)
     _=plt.xlabel(col,fontsize=20)
     _=plt.xticks(fontsize=14,rotation=rot)

In [ ]:
count_plot(train_data,'Property_Type' ,title='Property Types',switchax=True)

In [ ]:
train_data['Property_Type']=train_data['Property_Type'].replace("#R%$G&867","Ranch_Home")

In [ ]:
Property_Type= train_data.iloc[:,1]
Property_Type

In [ ]:
Habitability=train_data.iloc[:,-1]
Habitability

# **Property Type and Habitability Score**

In [ ]:
plt.figure(figsize=(10,10))
ax=sns.barplot(data= train_data,x=Property_Type,y=Habitability)
ax.autoscale_view()
ax.margins(y=0.5)

In [ ]:
Property_Area= train_data.iloc[:,2]
Property_Area

# **Property Type and Property Area**

In [ ]:
plt.figure(figsize=(10,10))
sns.barplot(data= train_data,x=Property_Type,y=Property_Area)

# **Habitability Score with respect to each Property**

In [ ]:
sns.lmplot(data=train_data, x="Property_Area", y="Habitability_score",hue='Property_Type',
           col='Property_Type',col_wrap=3,sharex=False,sharey=False,palette='Paired');

In [ ]:
cd /content/gdrive/MyDrive/Mini Project

In [ ]:
import pickle
pickle.dump(rfr, open("model_1.pkl", "wb"))

In [ ]:
import numpy as np

In [ ]:
rfr.predict([[1,293,3,1,2,0,1,3,7.28,2,2,152,2.52]])

In [ ]:
!pip install streamlit

In [ ]:
import numpy as np
import pickle
import pandas as pd
import streamlit as st
from PIL import Image


pickle_in = open("model_1.pkl","rb")
classifier=pickle.load(pickle_in)
def welcome():
    return "Welcome All"

def predict_note_authentication(Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review):

    """Let's Authenticate the Banks Note
    This is using docstrings for specifications.
    ---
    parameters:
      - name: variance
        in: query
        type: number
        required: true
      - name: skewness
        in: query
        type: number
        required: true
      - name: curtosis
        in: query
        type: number
        required: true
      - name: entropy
        in: query
        type: number
        required: true
    responses:
        200:
            description: The output values

    """

    prediction=classifier.predict([[Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review]])
    print(prediction)
    return prediction



def main():
    st.title("Bank Authenticator")
    html_temp = """
    <div style="background-color:tomato;padding:10px">
    <h2 style="color:white;text-align:center;">Streamlit Bank Authenticator ML App </h2>
    </div>
    """
    st.markdown(html_temp,unsafe_allow_html=True)
    Property_Type = st.text_input("Property_Type","Type Here")
    Property_Area = st.text_input("Property_Area","Type Here")
    Number_of_Windows = st.text_input("Number_of_Windows","Type Here")
    Number_of_Doors = st.text_input("Number_of_Doors","Type Here")
    Furnishing = st.text_input("Furnishing","Type Here")
    Frequency_of_Powercuts = st.text_input("Frequency_of_Powercuts","Type Here")
    Power_Backup = st.text_input("Power_Backup","Type Here")
    Water_Supply = st.text_input("Water_Supply","Type Here")
    Traffic_Density_Score = st.text_input("Traffic_Density_Score","Type Here")
    Crime_Rate = st.text_input("Crime_Rate","Type Here")
    Dust_and_Noise = st.text_input("Dust_and_Noise","Type Here")
    Air_Quality_Index = st.text_input("Air_Quality_Index","Type Here")
    Neighborhood_Review = st.text_input("Neighborhood_Review","Type Here")
    result=""
    if st.button("Predict"):
        result=predict_note_authentication(Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review)
    st.success('The output is {}'.format(result))
    if st.button("About"):
        st.text("Lets LEarn")
        st.text("Built with Streamlit")

if __name__=='__main__':
    main()